@import "../../../views/Root/index.scss";
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
.formTitle {
  font-family: $logo-font;
  font-size: 35px;
  color: $yellow-element;
  margin-bottom: 30px;
}

.form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formItem {
  width: 100%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}

.formItemBar {
  width: 100%;
  height: 2px;
  background: #7d7d7d;
  transition: 0.1s all;
}

.label {
  color: #7d7d7d;
  position: absolute;
  top: 3px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
}

.input {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
}

.input:focus {
  outline: none;
}

.input:focus + .label {
  top: -22px;
  font-size: 13px;
}

.input:not(:placeholder-shown) + .label {
  top: -22px;
  font-size: 13px;
}

.input:focus ~ .formItemBar {
  background: #eeb144;
}

.emailNoVerifiedInfo {
  text-align: center;
}
.validsEmailPassword {
  text-align: center;
}

.forgotPasswordLink {
  font-style: normal;
  text-indent: 20px;
  margin-bottom: 40px;
  color: $red-element;
  text-decoration: none;
}

.socialInfo {
  margin-top: 20px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.facebookIcon,
.googleIcon {
  font-size: 26px;
  margin: 0 15px;
  transition: 0.5s color ease;
  &:hover {
    cursor: pointer;
  }
}

.facebookIcon:hover {
  color: #3b5998;
}

.googleIcon:hover {
  color: #db3236;
}
