.wrapper {
  padding: 25px 150px 25px 70px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 85px;
  grid-template-rows: [header-start] 100px [header-end] [content-start] auto [content-end];
}
