@import '../../../../views/Root/index.scss';

.bodyWrapper {
    position: relative;
    top: 100px;
    z-index: 0;
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;

        li {
            padding: 0 10px 5px 10px;

            &:hover {
                cursor: pointer;
            }

            &::before, &::after {
                display: inline-block;
                content: "";
                border-top: 2px solid transparent;
                width: 10px;
                margin: 0 10px;
                transform: translateY(-5px);
                transition: border-top;
            }

            &:hover::before, &:hover::after{
                transition: ease-in-out .3s border-top;
                border-top: 2px solid $yellow-element;
            }
        }
    }

        
}

.active {
    color: green;
}