.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: 1fr;
  grid-gap: 7px;
  padding: 2%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
