@import '../../../views/Root/index.scss';

.navbarItem {
  margin-right: 30px;
  list-style: none;
  display: inline-block;
  text-decoration: none;

  //  &Link {
  //    text-decoration: none;
  //    color: #ffffff;
  //  }
}

@media only screen and (max-width: 960px) {
  .wrapper {
    flex-direction: column;
  }
}
