@import "../../../../../../views/Root/index.scss";

.wrapper {
  margin: 100px 0;
}
.formWrapper {
  display: flex;
  margin: 0 auto;
  width: 45%;
  padding: 10px 20px;
  min-height: 200px;
  background-color: $white;
  flex-direction: column;
  justify-content: center;
}
.header {
  font-family: $logo-font;
  font-size: 35px;
  color: $yellow-element;
  margin-bottom: 30px;
  text-align: center;
}
// .formItem {
//   display: flex;
// }

.commentArea {
  width: 100%;
  min-height: 150px;
  outline: transparent;
}

.button {
  max-width: 250px;
}
