.wrapper {
  display: grid;
  height: 70px;
  grid-template-columns: 5% 0.5fr;
  justify-content: space-evenly;
  padding-top: 10px;
  background-color: #f6b746;
  align-items: center;
}

.left {
  float: left;
  margin-right: 40%;
}

.right {
  display: inline-flex;
}
