.wrapper {
  display: flex;
  height: 70px;
  grid-template-columns: 70% 100px;
  justify-content: space-evenly;
  padding-top: 10px;
  background-color: #f6b746;
}

.left {
  margin-right: 40%;
}

.right {
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
}

.navbarItem {
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }
}
