.wrapper {
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
