@import '../../../../../../views/Root/index.scss';

.wrapper {
    width: 100%;
    margin: 10px 0;
}

.itemWrapper {
    display: flex;
    margin: 0 auto;
    width: 45%;
    padding: 10px 20px;
    min-height: 120px;
    background-color: $white;
    flex-direction: column;
    justify-content: center;
}

.commentOwner {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(169, 169, 169, .6);

    .name, .icon, .date {
        margin-right: 15%;
    }
}

.icon {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: $light-grey-element;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.commentItem {
    display: flex;   
}