@import "../../../../../../views//Root/index.scss";
.wrapper {
  margin: 100px 0;
}
.formWrapper {
  display: flex;
  margin: 0 auto;
  width: 45%;
  padding: 10px 20px;
  min-height: 200px;
  background-color: $white;
  flex-direction: column;
  justify-content: center;
}
.formItem {
  width: 100%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}
.formItemBar {
  width: 100%;
  height: 2px;
  background: #7d7d7d;
  transition: 0.1s all;
}

// .formItem {
//   display: flex;
// }

.input {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
}

.input:focus {
  outline: none;
}

.input:focus + .label {
  top: -22px;
  font-size: 13px;
}

.input:not(:placeholder-shown) + .label {
  top: -22px;
  font-size: 13px;
}

.input:focus ~ .formItemBar {
  background: #eeb144;
}

.button {
  background-color: $yellow-element;
  border: none;
  width: 15%;
  color: $white;
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
  transition: background-color ease 0.4s;
  outline: transparent;

  &:hover {
    cursor: pointer;
    background-color: $red-element;
  }
}
