@import "../../../views/Root/index.scss";
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 80px;

  label {
    color: $dark-grey-element;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.formTitle {
  font-family: $logo-font;
  font-size: 35px;
  color: $yellow-element;
  margin-bottom: 30px;
}

.formItem {
  width: 100%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}

.formItemBar {
  width: 100%;
  height: 2px;
  background: $dark-grey-element;
  margin-bottom: 4px;
  transition: 0.1s all;
}

.input {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
}

.input:focus {
  outline: none;
}

.input:focus + .label {
  top: -22px;
  font-size: 13px;
}

.input:not(:placeholder-shown) + .label {
  top: -22px;
  font-size: 13px;
}

.input:focus ~ .formItemBar {
  background: #eeb144;
}

.invalidEmail {
  text-align: center;
  margin-bottom: 2%;
}
.validation {
  text-align: center;
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  color: white;
}
