@import "../../../../views/Root/index.scss";
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 4%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.restaurantAvatar {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.container {
  padding: 2px 16px;
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  color: $white;
}
