@import "../../../../../../views/Root/index.scss";

.wrapper {
  margin: 100px 0;
}
.formWrapper {
  display: flex;
  margin: 0 auto;
  width: 45%;
  padding: 10px 20px;
  min-height: 200px;
  background-color: $white;
  flex-direction: column;
  justify-content: center;
}
// .formItem {
//   display: flex;
// }

.commentArea {
  width: 100%;
  min-height: 150px;
  outline: transparent;
}

.button {
  background-color: $yellow-element;
  border: none;
  width: 15%;
  color: $white;
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
  transition: background-color ease 0.4s;
  outline: transparent;

  &:hover {
    cursor: pointer;
    background-color: $red-element;
  }
}
